{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
       <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=300px width=250px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong> UT 2020 graduate.</h3>
        <h3>BSA Biology, Minor in Sociology.</h3>
        <h3>I have grown up in Austin practically my whole life! I love being on the lake and spending good quality time with family, friends, and of course my dog, <a href="dog.jpeg" target="_blank"><strong>Millie</strong></a>!</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="resume.pdf" target="_blank">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
